[Desktop Entry]
Icon=/home/comodino/.local/share/JetBrains/Toolbox/toolbox.svg
Exec=/nix/store/41lyl4jsshray1z6jxhwkqmfj2n4hgdj-jetbrains-toolbox-extracted/jetbrains-toolbox --minimize
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel